html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.form {
  position: absolute;
  top: 20%; 
  left: 5%; 
}

.top-list {
  position: absolute;
  top: 40%; 
  left: 5%; 
}
.top-btn {
  position: absolute;
  top: 35%; 
  left: 5%;
}

.textStart {
position: absolute;
width: 281px;
height: 30px;

font-family: ('assets/GermaniaOne-Regular.ttf');
font-style: normal;
font-weight: normal;
font-size: 64px;
line-height: 30px;
/* identical to box height, or 47% */

text-align: center;
letter-spacing: -0.015em;

color: #A261A4;

mix-blend-mode: darken;
border: 0.5px solid #000000;
}